html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: green;
}

@font-face {
  font-family: vollkorn;
  src: url(./assets/Vollkorn-Bold.ttf);
}

canvas {
  display: block;
}
